$blue: #4281a4;
$green: #48a9a6;
$background: #d0cbc7;
$ground: #e4dfda;
$yellow: #d4b483;
$red: #c1666b;
$lid: #b05d62;
$skin: #f5d6ba;

$black: #545454;
$text-color: black;

// Breakpoints

$md-bp: 768px;
$sellout-navy: #060034;

$theron-gray: #252525;

$box-shading: 2px 2px 10px rgba(0, 0, 0, 0.5);
$box-shading-heavy: 2px 2px 20px rgba(0, 0, 0, 0.8);
