.swipe-button {
}

.link-style {
  display: inline-block;
  // border-bottom: 0.05em solid $text-color;

  color: $blue;

  font-size: 1.5em;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
